<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">

		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;
			<strong><a href="https://github.com/bit97/onthisday">onthisday</a></strong>
			- Python library for scraping the web for events that happened on current day, from multiple online sources.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;
			<strong><a href="https://github.com/bit97/cmus_scripts">cmus-scripts</a></strong>
			- Scripts and utilities that I used to run in order to automate the multimedia experience with 
			<a href="https://cmus.github.io/">CMUS</a> music player.
		</h5>
    	<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;
			<strong><a href="http://cas.polito.it/NXP-LANDTIGER@PoliTo-University/?p=225">
				Simple LandTiger NXP LPC1768 video player
			</a></strong>
			- Playback of a simple video on a Landtiger board. See <a href="{{ site.baseurl }}landtiger">the post related</a>.
		</h5>

    </div>
  </div>
</div>
</section>
